
@model WebSite_CuaHangDienThoai.Models.tb_Supplier

@if (Model != null)
{
    <div class="card-header">
        <div class="card-title">
            <p>Thông tin nhà cung cấp</p>
        </div>
        <br />
        <h3 class="text-center">@Model.Name</h3>
    </div>
    <div class="card-body">
        <span><b>Mã:</b> <span>@Model.SupplierId</span> <b style="margin-left:10px">Tên:</b> <span>@Model.Name</span></span>
        <br />
        <span><b>Địa chỉ:</b> @Model.Location</span>
        <br />
        <span><b>Điện thoại:</b> @Model.Phone</span>
    </div>
}
else
{
    <p class="text-danger">Không tồn tại bảng ghi nào !!!</p>
}
