

@model PagedList.PagedList<WebSite_CuaHangDienThoai.Models.tb_ImportWarehouse>
@using PagedList.Mvc;


<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-3">
                <div class="d-flex align-items-center">
                    <span class="m-1">
                        <label class="text-danger">Ngày xuất:</label>
                        <input type="datetime-local" style="border:none" id="ngaynhapWareHouseImport" onchange="getImport()" />
                    </span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <div class="input-group">
                        <input type="text" class="form-control border-0" id="searchWareHouseImport" placeholder="Nhập Số điện thoại, mã đơn hàng, tên khách">
                        <button class="btn" type="button" id="clearInputWareHouseImport">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
                                <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" id="loadDataSuggestWareHouseImport">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="text-center">
                    <th><input type="checkbox" id="SelectAll" /></th>
                    <th>STT</th>
                    <th>Mã</th>
                    <th>Tên kho</th>
                    <th>Nhà cung cấp</th>
                    <th>Người nhận</th>
                    <th>Ngày nhận</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.txt == null)
                {
                    if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                        foreach (var item in Model)
                        {
                            <tr class="text-center opacity-100" id="trow_@item.ImportWarehouseId">
                                <td><input type="checkbox" class="cbkItem" value="@item.ImportWarehouseId" /></td>
                                <td>@i</td>
                                <td><a href="/admin/Products/Detail/@item.ImportWarehouseId" style="color:black">@item.ImportWarehouseId</a></td>
                                <td>@item.tb_Warehouse.tb_Store.Location</td>
                                <td>@item.tb_Supplier.Name</td>
                                <td>@item.CreatedBy</td>
                                <td>@(item.CreateDate.HasValue ? item.CreateDate.Value.ToString("dd/MM/yyyy") : "Không có dữ liệu")</td>
                                <td>
                                    <button class="btn btn-sm btn-success btnViewPhieuNhap" data-id="@item.ImportWarehouseId">Xem</button>
                                    <button class="btn btn-sm btn-danger btnEditPhieuNhap" data-id="@item.ImportWarehouseId">Cập nhập</button>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">Không có bản ghi nào!!!</td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="text-center text-danger">
                        <td>@ViewBag.txt</td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm">
                        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                            <a class="page-link" href="#" data-page="1" aria-label="First">
                                <span aria-hidden="true">Đầu</span>
                            </a>
                        </li>
                        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                            <a class="page-link" href="#" data-page="@(Model.PageNumber - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (int i = Model.PageNumber; i <= Model.PageNumber + 4 && i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                <a class="page-link" href="#" data-page="@i">@i</a>
                            </li>
                        }
                        <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                            <a class="page-link" href="#" data-page="@(Model.PageNumber + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                            <a class="page-link" href="#" data-page="@Model.PageCount" aria-label="Last">
                                <span aria-hidden="true">Cuối</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer"></div>
    <!-- /.card-footer-->
</div>


<style>
    .bg-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 1000;
    }

    #popupView {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        display: none;
        z-index: 9999;
    }

    .bg-overlay-edit {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 3000;
    }

    #popupViewEdit {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        display: none;
        width: auto;
        z-index: 9999;
    }

    #notification-container {
        position: relative;
        z-index: 9999;
        display: inline-block;
        width: 200px;
        padding: 10px;
        right: 20px;
        top: 20px;
    }
</style>
@*strart view*@
<div class="bg-overlay" id="overlay"></div>

<div id="popupView">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <div class="btn btnCloseViewPhieuNhaphang">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="loadDataPhieuNhaphang">
                <p id="popupContent">Loading...</p>
            </div>
        </div>
    </div>
</div>

@*Én view*@



@*strart Edir*@
<div class="bg-overlay-edit" id="overlayeditNewNew"></div>

<div id="popupViewEdit">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <div class="btn btnCloseEditViewPhieuNhaphang">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="loadDataEditPhieuNhaphang">
                <p id="popupContentEdit">Loading...</p>
            </div>
        </div>
    </div>
</div>

@*Én Edir*@

<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Xử lý sự kiện khi nút "Cập nhật" được nhấn
        $('.btnViewPhieuNhap').click(function () {
            // Lấy ID của phiếu nhập từ thuộc tính data-id
            var importWarehouseId = $(this).data('id');

            // Hiển thị popup
            $('#overlay').fadeIn();
            $('#popupView').fadeIn();

            // Load dữ liệu cho popup, ví dụ AJAX
            $.ajax({
                url: '/admin/WareHouseImport/Details/' + importWarehouseId,
                type: 'GET',
                success: function (data) {
                    $('#popupContent').html(data);
                },
                error: function () {
                    $('#popupContent').text('Đã xảy ra lỗi khi tải dữ liệu!');
                }
            });
        });
        var bg = $(".bg-overlay");
        bg.on('click', function () {
            $('#overlay').fadeOut();
            $('#popupView').fadeOut();
        });
        // Xử lý sự kiện khi nút đóng popup được nhấn
        $('.btnCloseViewPhieuNhaphang').click(function () {
            // Ẩn popup
            $('#overlay').fadeOut();
            $('#popupView').fadeOut();
        });
    });


    //start view edit
    $(document).ready(function () {
        loadSupplierData();


        $("#listSupplier").change(function () {
            var idSupplier = $(this).val();
            if (idSupplier && idSupplier !== "-Chọn nhà cung cấp-") {
                $.ajax({
                    url: '/admin/WareHouseImport/Partial_Supplier',
                    type: 'GET',
                    data: { id: idSupplier },
                    success: function (response) {
                        $('#load_data_Supplier').html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error: " + status + " - " + error);
                        console.error(xhr.responseText);
                        alert('Đã xảy ra lỗi khi tải thông tin nhà cung cấp: ' + xhr.responseText);
                    }
                });
            }
        });
        $('.btnEditPhieuNhap').click(function () {
            var importWarehouseId = $(this).data('id');
            $('#overlayeditNewNew').fadeIn();
            $('#popupViewEdit').fadeIn();
            $.ajax({
                url: '/admin/WareHouseImport/Edit/' + importWarehouseId,
                type: 'GET',
                success: function (data) {
                    $('#popupContentEdit').html(data);
                },
                error: function () {
                    $('#popupContentEdit').text('Đã xảy ra lỗi khi tải dữ liệu!');
                }
            });
        });
        var bg = $(".bg-overlay-edit");
        bg.on('click', function () {
            $('#overlayeditNewNew').fadeOut();
            $('#popupViewEdit').fadeOut();
        });
        // Xử lý sự kiện khi nút đóng popup được nhấn
        $('.btnCloseEditViewPhieuNhaphang').click(function () {
            // Ẩn popup
            $('#overlayeditNewNew').fadeOut();
            $('#popupViewEdit').fadeOut();
        });



        $("#listSupplier").change(function () {
            var idSupplier = $(this).val();
            if (idSupplier && idSupplier !== "-Chọn nhà cung cấp-") {
                $.ajax({
                    url: '/admin/WareHouseImport/Partial_Supplier',
                    type: 'GET',
                    data: { id: idSupplier },
                    success: function (response) {
                        $('#load_data_Supplier').html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error: " + status + " - " + error);
                        console.error(xhr.responseText);
                        alert('Đã xảy ra lỗi khi tải thông tin nhà cung cấp: ' + xhr.responseText);
                    }
                });
            }
        });
    });




    function loadSupplierData() {
        var idSupplier = $("#listSupplier").val();
        console.log("okkkk123")
        if (idSupplier !== "-Chọn nhà cung cấp-") {
            $.ajax({
                url: '/admin/WareHouseImport/Partial_Supplier',
                type: 'GET',
                data: { id: idSupplier },
                success: function (response) {
                    $('#load_data_Supplier').html(response);
                    console.log("thuan ")
                },
                error: function (xhr, status, error) {
                    console.error("Error: " + status + " - " + error);
                    console.error(xhr.responseText);
                    alert('Đã xảy ra lỗi khi tải thông tin nhà cung cấp: ' + xhr.responseText);
                }
            });
        }

    }
    //End view edit
</script>

