@model WebSite_CuaHangDienThoai.Models.tb_ProductDetail
@{
    ViewBag.Title = "Chỉnh sửa " + ViewBag.Title;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/products" class="nav-link">Sản phẩm </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Cập nhật</a>
        </li>
    </ul>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật Sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>



<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin Sản phẩm</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Edit", "ProductDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(x => x.ProductsId)
                        @Html.HiddenFor(x => x.ProductDetailId)
                        @Html.HiddenFor(x => x.Title)

                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        @*<div class="form-group">
                                                <label for="exampleInputEmail1">Tên sản phẩm</label>
                                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tên sản phẩm",id= "Title" })
                                                @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                                            </div>*@


                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Loại sản phẩm</label>
                                            @Html.DropDownListFor(x => x.ProductsId, ViewBag.Products as SelectList, "-Chọn danh mục sản phẩm-", new { @class = "form-control", @placeholder = "Mã mã phẩm", id = "ProductsId" })
                                            @Html.ValidationMessageFor(x => x.ProductsId, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Màu sản phẩm</label>
                                                    @Html.TextBoxFor(x => x.Color, new { @class = "form-control", @placeholder = "Màu sản phẩm", id = "Color" })
                                                    @Html.ValidationMessageFor(x => x.Color, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-4">

                                                <div class="form-group">
                                                    <label for="Ram">Ram sản phẩm</label>
                                                    @Html.DropDownListFor(x => x.Ram, (SelectList)ViewBag.RamOptions, new { @class = "form-control", id = "Ram" })
                                                    @Html.ValidationMessageFor(x => x.Ram, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="DungLuong">Dung lượng sản phẩm</label>
                                                    @Html.DropDownListFor(x => x.Capacity, (SelectList)ViewBag.DungLuongOptions, new { @class = "form-control", id = "Capacity" })
                                                    @Html.ValidationMessageFor(x => x.Capacity, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Giá bán</label>
                                                        <input type="text" name="demoPrice" id="demoPrice" value="@Model.Price" class="form-control auto" data-a-dec="," data-a-sep=".">
                                                        @Html.HiddenFor(x => x.Price, new { @class = "", @placeholder = "Giá bán ", id = "Price" })
                                                        @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Giá nhập</label>
                                                        <input type="text" name="demoOriginalPrice" id="demoOriginalPrice" value="@Model.OrigianlPrice" class="form-control auto">
                                                        @Html.HiddenFor(x => x.OrigianlPrice, new { @class = "form-control", @placeholder = "Giá nhập", id = "OrigianlPrice" })
                                                        @Html.ValidationMessageFor(x => x.OrigianlPrice, null, new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Giá khuyến mãi</label>
                                                        <input type="text" name="demoPriceSale" id="demoPriceSale" value="@Model.PriceSale" class="form-control auto">
                                                        @Html.HiddenFor(x => x.PriceSale, new { @class = "form-control", @placeholder = "Khuyến mãi", id = "PriceSale" })
                                                        @Html.ValidationMessageFor(x => x.PriceSale, null, new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3 class="text-center">   Danh sách hình ảnh</h3>
                                                <div class="col-md-12 text-right">
                                                    <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="BrowseServer();" value="Tải ảnh" />
                                                </div>
                                                <div class="col-md-12">
                                                    <table class="table table-hover" id="tbAnhSanPham">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">#</th>
                                                                <th class="text-center">Ảnh</th>
                                                                <th class="text-center">Ảnh đại diện</th>
                                                                <th class="text-center">Thao tác</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbHtml">
                                                        </tbody>
                                                    </table>
                                                    <input type="hidden" id="tCurrentId" value="0" />
                                                </div>
                                                @if (Model.tb_ProductDetailImage != null && Model.tb_ProductDetailImage.Any())
                                                {
                                                    var i = 0;
                                                    foreach (var item in Model.tb_ProductDetailImage)
                                                    {
                                                        <div class="row" id="trow_@item.ProductImageId">
                                                            <div class="col-lg-12 mb-4">
                                                                <div class="card h-100 border-start-lg border-start-primary">
                                                                    <div class="card-body">
                                                                        <div class="image-container text-center">
                                                                            <div class="row">
                                                                                <div class="col-5">
                                                                                    <div class="form-group text-center newImage mt-2">
                                                                                        <label id="lbAnhCu_@item.ProductImageId" style="display:none">Ảnh cũ:</label>
                                                                                        <img src="data:image;base64,@Convert.ToBase64String(item.Image)" alt="Hình" class="img-fluid" style="width: 60%;">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-2">
                                                                                    <div class="form-group text-center" id="muiTen_@item.ProductImageId" style="display: none; justify-content: center; align-items: center; height: 100px; margin-top: 50%">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" style="color:greenyellow" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                                                                            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708" />
                                                                                            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708" />
                                                                                        </svg>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-5 d-flex justify-content-center align-items-center">
                                                                                    <div class="form-group text-center newImage mt-2">
                                                                                        <label id="lbImagePreview_@item.ProductImageId" style="display:none">Ảnh mới:</label>
                                                                                        <img id="newImagePreview_@item.ProductImageId" src="#" alt="New Image Preview" style="display: none; width: 50%; height: 50%;" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group text-center mt-2 anhMoi">
                                                                                <label for="exampleInputFile_@item.ProductImageId" class="btn btn-primary">
                                                                                    Thay đổi
                                                                                    <input type="file" name="newImages" id="exampleInputFile_@item.ProductImageId" data-product-id="@item.ProductImageId" accept="image/jpeg, image/png, image/gif" onchange="previewImage(event, @item.ProductImageId)" style="display: none;" />
                                                                                    <input type="hidden" name="productImageIds" value="@item.ProductImageId" />
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                    i++;
                                                }

                                            </div>




                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <!-- /.tab-pane -->

                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Lưu Lại</button>
                                <a href="/admin/products" class="btn btn-danger">Quay lại</a>
                            </div>
                        </div> <!-- /.card -->
                    }
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
@section scripts{

    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <script>



        function validateForm() {
            var isValid = true;
            //var demoPrice = parseFloat(document.getElementById("Price").value.replace(",", ""));
            //var demoPriceSale = parseFloat(document.getElementById("PriceSale").value.replace(",", ""));
            //var demoOriginalPrice = parseFloat(document.getElementById("OrigianlPrice").value.replace(",", ""));
            // Kiểm tra trường Title
            if (!$('#ProductsId').val().trim()) {
                $('#ProductsId').addClass('is-invalid'); // Thêm class is-invalid để highlight trường lỗi
                isValid = false;
            } else {
                $('#ProductsId').removeClass('is-invalid'); // Xóa class is-invalid nếu trường không lỗi
            }
            if (!$('#Color').val().trim()) {
                $('#Color').addClass('is-invalid'); // Thêm class is-invalid để highlight trường lỗi
                isValid = false;
            } else {
                $('#Color').removeClass('is-invalid'); // Xóa class is-invalid nếu trường không lỗi
            }
            if (!$('#Ram').val().trim()) {
                $('#Ram').addClass('is-invalid'); // Thêm class is-invalid để highlight trường lỗi
                isValid = false;
            } else {
                $('#Ram').removeClass('is-invalid'); // Xóa class is-invalid nếu trường không lỗi
            }
            if (!$('#Capacity').val().trim()) {
                $('#Capacity').addClass('is-invalid'); // Thêm class is-invalid để highlight trường lỗi
                isValid = false;
            } else {
                $('#Capacity').removeClass('is-invalid'); // Xóa class is-invalid nếu trường không lỗi
            }
          



            $('.row:first-child input[type="text"], .row:first-child textarea').each(function () {
                if (!$(this).val().trim()) {
                    $(this).addClass('is-invalid'); // Thêm class is-invalid để highlight trường lỗi
                    isValid = false;
                } else {
                    $(this).removeClass('is-invalid'); // Xóa class is-invalid nếu trường không lỗi
                }
            });

            return isValid;
        }

        $('form').submit(function () {
            if (!validateForm()) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi...",
                    text: "Vui lòng nhập đầy đủ thông tin",
                });
                return false; // Ngăn không cho form submit nếu thông tin không hợp lệ
            }
        });

        function previewImage(event, productId) {
            var fileInput = event.target;
            var reader = new FileReader();

            reader.onload = function () {
                var output = document.getElementById('newImagePreview_' + productId);
                if (output) {
                    output.src = reader.result;
                    output.style.display = 'block';

                    // Cập nhật các phần khác cần thiết dựa trên productId
                    var labelAnhCu = document.getElementById('lbAnhCu_' + productId);
                    var muiTen = document.getElementById('muiTen_' + productId);
                    var lbImagePreview = document.getElementById('lbImagePreview_' + productId);
                    if (labelAnhCu && muiTen && lbImagePreview) {
                        labelAnhCu.style.display = 'block';
                        muiTen.style.display = 'block';
                        lbImagePreview.style.display = 'block';
                    } else {
                        console.error('Lỗi khi hiển thị phần khác.');
                    }
                } else {
                    console.error('Không tìm thấy vùng hiển thị ảnh.');
                }
            };

            reader.readAsDataURL(fileInput.files[0]);
        }



        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');


                Swal.fire({
                    title: "Bạn có chắc thao tác ?",
                    text: "Bạn có muốn xóa ảnh này",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Chắc, xóa ngay!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/admin/ProductDetailImage/DeleteImg',
                            type: 'POST',
                            data: { id: id },
                            success: function (rs) {
                                if (rs.success) {
                                    $('#trow_' + id).remove();
                                }
                            }
                        });
                    }
                });




            });
        });


        $(document).ready(function () {
            $('.auto').autoNumeric('init');
            $('#demoPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPrice').autoNumeric('get');
                $('#Price').val(demoGet);
                $('#Price').autoNumeric('set', demoGet);
            });
            $('#demoPriceSale').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPriceSale').autoNumeric('get');
                $('#PriceSale').val(demoGet);
                $('#PriceSale').autoNumeric('set', demoGet);
            });
            $('#demoOriginalPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoOriginalPrice').autoNumeric('get');
                $('#OriginalPrice').val(demoGet);
                $('#OriginalPrice').autoNumeric('set', demoGet);
            });
            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });


        });
    </script>


}

