
@model WebSite_CuaHangDienThoai.Models.Admin_TokenProductDetail
@using (Ajax.BeginForm("Add", "ProductDetail", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "load_data",
    OnSuccess = "OnSuccessCO",
    OnFailure = "OnFailure",
    OnBegin = "OnBeginCO",

}, new { @Id = "myFormProductDetail" }))
{
    <script>




        function validateForm() {

            var demoPriceValue = $('#demoPrice').val();
            var demoPriceSaleValue = $('#demoPriceSale').val();
            var demoOriginalPriceValue = $('#demoOriginalPrice').val();

            // Chuyển đổi giá trị từ chuỗi sang số nguyên
            var price = parseInt(demoPriceValue.replace(/\D/g, ''), 10); // Chỉ lấy số và chuyển đổi sang số nguyên
            var priceSale = parseInt(demoPriceSaleValue.replace(/\D/g, ''), 10);
            var originalPrice = parseInt(demoOriginalPriceValue.replace(/\D/g, ''), 10);

            // Log giá trị để kiểm tra
            console.log("Price: ", price);
            console.log("Price Sale: ", priceSale);
            console.log("Original Price: ", originalPrice);

            // Kiểm tra nếu các input không có giá trị
            if (isNaN(price) || isNaN(originalPrice) || price === 0 || originalPrice === 0) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng điền đầy đủ giá sản phẩm.",
                });
                return false;
            }
            if (price < originalPrice) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Giá bán không được bé hơn giá nhập.",
                });
                return false;
            }
            if (priceSale > 1)
            {
                if (priceSale < originalPrice) {
                    Swal.fire({
                        icon: "error",
                        title: "Lỗi",
                        text: "Giá bán khuyến mãi không được bé hơn giá nhập.",
                    });
                    return false;
                }
            }
            

            // Kiểm tra nếu giá bán lớn hơn giá nhập
            







            
            var color = document.getElementById("Color").value.trim();
            if (color === "") {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng chọn màu sắc sản phẩm.",
                });
                return false;
            }

            // Kiểm tra RAM sản phẩm
            var ram = document.getElementById("Ram").value;
            if (ram === "1") { // Giá trị "1" là giá trị mặc định chưa chọn
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng chọn RAM sản phẩm.",
                });
                return false;
            }

            // Kiểm tra dung lượng sản phẩm
            var dungLuong = document.getElementById("DungLuong").value;
            if (dungLuong === "1") { // Giá trị "1" là giá trị mặc định chưa chọn
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng chọn dung lượng sản phẩm.",
                });
                return false;
            }



            return true; // Form hợp lệ, có thể submit

        }


        function OnBeginCO() {
            $('#btnRegister').attr("disabled", "disabled");
        }

        $(document).ready(function () {
            $('#myFormProductDetail').submit(function (event) {
                event.preventDefault(); // Ngăn chặn hành động mặc định của form
                if (validateForm()) {
                    var formData = $(this).serialize(); // Lấy dữ liệu từ biểu mẫu
                    $.ajax({
                        url: '/Admin/ProductDetail/Add',
                        type: 'POST',
                        data: formData,
                        success: function (res) {
                            OnSuccessCO(res); // Gọi hàm xử lý phản hồi
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                }
            });
        });

        function OnSuccessCO(res) {
            if (res.Success) {
                if (res.Code == 1) {


                    Swal.fire({
                        title: "Tạo bảng sao ?",
                        text: "Bạn có muốn thêm cấu hình giống trên!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Có, nhân bảng!"
                    }).then((result) => {
                        if (result.isConfirmed) {

                            document.getElementById("demoPrice").value = "0";
                            document.getElementById("demoPriceSale").value = "0";
                            document.getElementById("demoOriginalPrice").value = "";
                        }
                        else {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 3000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });

                            Toast.fire({
                                icon: "success",
                                title: "Thêm cấu hình sản phẩm thành công"
                            });

                            setTimeout(function () {
                                location.href = "/Admin/ProductDetail/index";
                            }, 1500);

                        }
                    });




                }
            }
            else {
                if (res.Code == -2) {
                    Swal.fire({
                        icon: "error",
                        title: "Không thể bỏ trống...",
                        text: "Vui lòng điền đầy đủ thông tin",
                        footer: '<a href="#">Why do I have this issue?</a>'
                    });

                }
                if (res.Code == -3) {
                    Swal.fire({
                        icon: "warning",
                        title: "Sản phẩm không tồn tại...",
                        text: "Không tồn tại mã sản phẩm chính",
                        /*footer: '<a href="#">Bạn có muốn cập nhật lại số lượng?</a>'*/
                    });
                }
                if (res.Code == -4) {
                    Swal.fire({
                        icon: "question",
                        title: "Không để trống...",
                        text: "Vui lòng nhập đủ thông tin ",
                        /*footer: '<a href="#">Why do I have this issue?</a>'*/
                    });

                }
                if (res.Code == -5) {
                    Swal.fire({
                        icon: "info",
                        title: "Lỗi tìm ảnh...",
                        text: "Vui lòng tải ảnh sản phẩm",
                        /*     footer: '<a href="#">Why do I have this issue?</a>'*/
                    });
                }
                if (res.Code == -6) {
                    Swal.fire({
                        icon: "warning",
                        title: "Sản phẩm đã tồn tại ....",
                        text: "Cấu hình đã tồn tại",
                        footer: '<a href="#">Bạn có muốn cập nhật số lượng</a>'
                    });
                }
                if (res.Code == -7) {
                    Swal.fire({
                        icon: "warning",
                        title: "Lỗi dòng sản phẩm....",
                        text: "Dòng sản phẩm không tồn tại",
                        footer: '<a href="#">Bạn có muốn cập nhật số lượng</a>'
                    });
                }
            }

        }







    </script>


    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)<div class="card">
        <div class="card-header">
            @if (ViewBag.id != null)
            {
                <h3 class="card-title">Thông tin thêm mới Sản phẩm <span style="color:orangered">@ViewBag.Category - @ViewBag.Company - @ViewBag.Title </span></h3>
            }
            else
            {
                <h3 class="card-title">Thông tin thêm mới Sản phẩm</h3>

            }
        </div>
        <div class="card-body">
            <div class="row">

                @Html.Action("Partial_InforProucts", "ProductDetail", new { id = ViewBag.id })
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    @using (Html.BeginForm("Add", "ProductDetail", FormMethod.Post))
                    {

                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>

                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">SEO</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <div class="form-group">
                                            <!--<div class="row">
                                                <div class="col-md-12">
                                                    <label for="exampleInputEmail1">Tên loại máy</label>
                                                    <input type="text" name="Title" id="Title" required class="form-control" autocomplete="off" placeholder="Tên loại máy" />-->
                                            @*@Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tên sản phẩm" })*@
                                            <!--Html.ValidationMessageFor(x => x.Title, null, new { class = "text-danger" })
                                                </div>
                                            </div>-->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="exampleInputEmail1">Màu sắc sản phẩm</label>
                                                    <input type="text" name="Color" id="Color" required class="form-control" autocomplete="off" placeholder="Màu sắc sản phẩm" />
                                                    @*@Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tên sản phẩm" })*@
                                                    @Html.ValidationMessageFor(x => x.Color, null, new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Ram sản phẩm </label>
                                                <select class="form-control" id="Ram" name="Ram">
                                                    <option value="1" selected>Ram sản phẩm</option>
                                                    <option value="4" id="chuyenkhoan">4GB</option>
                                                    <option value="6" id="chuyenkhoan">6GB</option>
                                                    <option value="8" id="chuyenkhoan">8GB</option>
                                                    <option value="16" id="chuyenkhoan">16GB</option>
                                                    <option value="24" id="chuyenkhoan">24GB</option>
                                                    <option value="32" id="chuyenkhoan">32GB</option>
                                                    <option value="64" id="chuyenkhoan">64GB</option>
                                                    <option value="128" id="chuyenkhoan">128GB</option>
                                                </select>

                                            </div>
                                            <div class="col-md-6">
                                                <label>Dung lượng sản phẩm</label>
                                                <select class="form-control" id="DungLuong" name="DungLuong">
                                                    <option value="1" selected>Dung lượng sản phẩm</option>
                                                    <option value="64" id="chuyenkhoan">64GB</option>
                                                    <option value="128" id="chuyenkhoan">128GB</option>
                                                    <option value="256" id="chuyenkhoan">256GB</option>
                                                    <option value="512" id="chuyenkhoan">512GB</option>
                                                    <option value="10000" id="chuyenkhoan">1Tb</option>
                                                    <option value="20000" id="chuyenkhoan">2Tb</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox" style="display:none">
                                                        @Html.CheckBoxFor(x => x.TypeProduct, new { @class = "custom-control-input", @id = "customCheckbox2" })
                                                        <label for="customCheckbox2" class="custom-control-label">Loại máy cũ</label>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Giá</label>
                                                    <input type="text" name="demoPrice" value="0" id="demoPrice" class="form-control auto" data-a-dec="," data-a-sep=".">
                                                    @Html.HiddenFor(x => x.Price, new { @class = "", @placeholder = "Giá" })
                                                    @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Giá khuyến mãi</label>
                                                    <input type="text" name="demoPriceSale" id="demoPriceSale" value="0" class="form-control auto">
                                                    @Html.HiddenFor(x => x.PriceSale, new { @class = "form-control", @placeholder = "Khuyến mãi" })
                                                    @Html.ValidationMessageFor(x => x.PriceSale, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Giá nhập</label>
                                                    <input type="text" name="demoOriginalPrice" id="demoOriginalPrice" value="" class="form-control auto">
                                                    @Html.HiddenFor(x => x.OrigianlPrice, new { @class = "form-control", @placeholder = "Giá nhập" })
                                                    @Html.ValidationMessageFor(x => x.OrigianlPrice, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="BrowseServer();" value="Tải ảnh" />
                                            </div>
                                            <div class="col-md-12">
                                                <table class="table table-hover" id="tbAnhSanPham">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th class="text-center">Ảnh</th>
                                                            <th class="text-center">Ảnh đại diện</th>
                                                            <th class="text-center">Thao tác</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbHtml">
                                                    </tbody>
                                                </table>
                                                <input type="hidden" id="tCurrentId" value="0" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane infor -->

                                    <div class="tab-pane" id="infor">



                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                            <div class="form-group">
                                @Html.HiddenFor(model => model.ProductsId, new { @Value = ViewBag.id })

                                @*<button type="submit" class="btn btn-success" data-id="">Thêm mới</button>*@
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8 text-center">
                                        <div class="form-group">
                                            <button type="button" onclick="if(validateForm()) $('#myFormProductDetail').submit();" class="btn btn-success col-8">Thêm mới</button>
                                            @*<button type="submit" class="btn btn-success btn-block">Thêm mới</button>*@
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div> <!-- /.card -->
                    }
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>






}



<script>


</script>
