@model PagedList.PagedList<WebSite_CuaHangDienThoai.Models.tb_ProductDetail>
@using PagedList.Mvc;


<table class="table table-hover">
    <thead>
        <tr class="text-center">
            <th><input type="checkbox" id="SelectAll" /></th>
            <th>STT</th>
            <th>Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Dòng sản phẩm</th>
            <th>Loại sản phẩm</th>
            <th>Hãng</th>

            <th>Ram/Dung Lượng  </th>
            <th>Màu</th>

            <th style="width:150px;"></th>
        </tr>
    </thead>
    @if (ViewBag.txt == null)
    {
        <tbody>
            @if (Model != null && Model.Any())
            {
                var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                foreach (var item in Model)
                {



                    byte[] strImg = null;
                    var CheckImage = item.tb_ProductDetailImage.FirstOrDefault(x => x.IsDefault == true);

                    if (CheckImage != null)
                    {
                        strImg = CheckImage.Image;
                    }

                    string imgSrc = "";
                    if (strImg != null && strImg.Length > 0)
                    {
                        string base64String = Convert.ToBase64String(strImg);
                        imgSrc = $"data:image;base64,{base64String}";
                    }
                    <tr class="text-center" id="trow_@item.ProductsId">
                        <td><input type="checkbox" class="cbkItem" value="@item.ProductsId" /></td>
                        <td>@i</td>
                        <td style="width:20%"><img class="imgproduct" data-id="@item.ProductsId" src="@imgSrc" style="width:50%" /></td>
                        <td> <a href="/admin/Products/Detail/@item.ProductsId"> @item.Title</a>  </td>
                        <td>
                            <a href="/chi-tiet/@item.tb_Products.Alias-p@(item.ProductsId)" target="_blank">
                                @item.tb_Products.Title
                            </a>
                               
                        </td>
                        <td>@item.tb_Products.tb_ProductCategory.Title</td>
                        <td>
                            @item.tb_Products.tb_ProductCompany.Title

                        </td>
                        <td>

                            <span>

                                @if (item.Capacity >= 999)
                                {
                                    <span>1Tb</span>
                                }
                                else if (item.Capacity == 2999)
                                {
                                    <span>2Tb</span>
                                }
                                else
                                {
                                    <span>@item.Capacity</span>
                                }

                            </span>
                            <p>Thêm </p>



                        </td>
                        <td><p>@item.Color</p></td>

                        <td>


                            <a href="/admin/ProductDetail/Detail/@item.ProductDetailId" data-id="@item.ProductsId" class="btn btn-sm btn-primary ">Xem</a>
                            <a href="/admin/ProductDetail/Edit/@item.ProductDetailId" data-id="@item.ProductsId" class="btn btn-sm btn-primary ">Sửa</a>
                        </td>
                    </tr>



                    i++;
                }
            }

        </tbody>

    }
    else
    {
        <tbody>
            <tr class="text-center text-danger">
                <td>@ViewBag.txt</td>
            </tr>
        </tbody>
    }

</table>

<hr />
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" href="#" data-page="1" aria-label="First">
                        <span aria-hidden="true">Đầu</span>
                    </a>
                </li>
                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" href="#" data-page="@(Model.PageNumber - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = Model.PageNumber; i <= Model.PageNumber + 4 && i <= Model.PageCount; i++)
                {
                    <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                        <a class="page-link" href="#" data-page="@i">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                    <a class="page-link" href="#" data-page="@(Model.PageNumber + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                    <a class="page-link" href="#" data-page="@Model.PageCount" aria-label="Last">
                        <span aria-hidden="true">Cuối</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<script>
    $(document).ready(function () {
        originalContent = $('#loadListSortProductDetail').html();
        $('#clearInputHoaDon').click(function () {
            $("#searchHoaDon").val(""); // Xóa nội dung trong ô tìm kiếm
            resetHoaDon(); // Đặt lại nội dung ban đầu
        });

        $('#searchHoaDon').on('input', function () {
            var keyword = $(this).val().trim();
            if (keyword.length > 0) {
                // Gọi action SuggestBillCustomer với keyword
                $.ajax({
                    url: '/Admin/Seller/SuggestProduct',
                    type: 'GET',
                    data: { search: keyword },
                    success: function (response) {
                        $('#loadListSortProductDetail').html(response);
                    },
                    error: function () {
                        // Xử lý lỗi nếu có
                        console.log('Đã xảy ra lỗi khi tải dữ liệu.');
                    }
                });
            } else {
                resetHoaDon(); // Đặt lại nội dung ban đầu nếu không có keyword
            }
        });

    });

    function resetHoaDon() {
        $('#loadListSortProductDetail').html(originalContent);
    }
</script>
