@model IEnumerable<WebSite_CuaHangDienThoai.Models.tb_Products>
@{
    ViewBag.Title = "Cửa hàng";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">


<style>
    .product_image:hover img {
        transform: translateY(-10px);
        transition: transform 0.3s ease;
    }


    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
</style>



<div class="container product_section_container">
    <div class="row pt-2">
        <div class="col-lg-8 ">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row d-flex align-items-center">
                            <div class="col-12">
                                <div class="image-holder">
                                    <img src="~/images/background/Redmi-Note-13-1200-300-1200x300.png" class="w-100 , h-100" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row d-flex align-items-center">
                            <div class="col-12">
                                <div class="image-holder">
                                    <img src="~/images/background/Redmi-Note-13-1200-300-1200x300.png" class="w-100 , h-100" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row d-flex align-items-center">
                            <div class="col-12">
                                <div class="image-holder">
                                    <img src="~/images/background/Redmi-Note-13-1200-300-1200x300.png" class="w-100 , h-100" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
        <div class="col-4 ">
            <div class="row ">
                <div class="col-md-12 bg-blue">
                    <img src="~/images/background/sticky-a58-390x97.png" />
                </div>

            </div>
            <div class="row pt-3">
                <div class="col-md-12 bg-body">

                    <img src="~/images/background/sticky-m54-390x97.png" />
                </div>


            </div>

        </div>
    </div>






    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-itemss-center">
                @*<ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
                    </ul>*@
            </div>

            <!-- Sidebar -->

            <div class="sidebar" >
                <div class="sidebar_section"  >
                    <div class="sidebar_title">
                        <h5 style="color:white">Loại sản phẩm</h5>
                    </div>
                    @Html.Action("MenuLeft", "Menu")
                </div>

                <!-- Price Range Filtering -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5 style="color:white">Lọc theo giá</h5>
                    </div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range"></div>
                    <div class="filter_button"><span>Lọc</span></div>

                    <hr />
                    @*@Html.Action("Refresh", "Home")*@
                </div>



            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                    <li style="color: white; background: #323232;" >
                                        <span class="type_sorting_text">Phân loại</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type text-center">
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Mặc định</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Giá tiền</span></li>
                                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Tên sản phẩm</span></li>
                                        </ul>
                                    </li>
                                    <li style="color: white; background: #323232;" >
                                        <span>Hiển thị</span>
                                        <span class="num_sorting_text">6</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>6</span></li>
                                            <li class="num_sorting_btn"><span>12</span></li>
                                            <li class="num_sorting_btn"><span>24</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="pages d-flex flex-row align-itemss-center">
                                    <div class="page_current">
                                        <span>1</span>
                                        <ul class="page_selection">
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                        </ul>
                                    </div>
                                    <div class="page_total"><span>of</span> 3</div>
                                    <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                </div>

                            </div>
                            <div class="product-grid rounded">

                                <!-- Product 1 -->
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        var strImg = "";
                                        var img = item.tb_ProductImage.FirstOrDefault(x => x.IsDefault);
                                        var checkDetail = item.tb_ProductDetail.FirstOrDefault(x => x.ProductsId == item.ProductsId);
                                        if (checkDetail != null)
                                        {
                                            if (img != null)
                                            {
                                                strImg = img.Image;

                                                <div class="product-item @item.tb_ProductCategory.Alias rounded-3 d-flex flex-column justify-content-between" data-id="@item.ProductsId" style="background: #323232; margin-left: 5px; margin-right: 5px; height: auto">
                                                    <div class=" discount ">

                                                        <div class="product_image pt-3 d-flex justify-content-center">
                                                            <img src="@strImg" alt="@item.Title" class="w-75 h-75">
                                                        </div>
                                                        <div class="favorite favorite_left"></div>

                                                        <div class="product_bubble_right product_bubble product_bubble_red d-flex flex-column align-items-center loadPhanTramSale " id="loadPhanTramSale_@item.ProductsId" data-id="@item.ProductsId" style="visibility: hidden;">

                                                        </div>


                                                        <div class="product_info" style="margin-top:-20px">
                                                            @*<h6 class="product_name"><a href="/chi-tiet/@item.Alias-p">@item.Title</a></h6>*@
                                                            <h6 class="product_name">
                                                                @*<a href="/Product/Details/@item.ProductsId" style="color:white ">@item.Title</a>*@
                                                                <a class="d-inline-block text-truncate" href="/Product/Details?id=@item.ProductsId&ProductDetailId=1" style="color:white ">
                                                                    @item.Title
                                                                </a>
                                                            </h6>

                                                            @Html.Action("Partail_ProductDetailById", "ProductDetail", new { id = item.ProductsId })

                                                            @*Hiển thị giá tiền theo cấu hình*@
                                                            <div class="loadPrice" id="loadPrice_@item.ProductsId" data-id="@item.ProductsId"></div>
                                                        </div>
                                                        <div class="card-footer">
                                                            <ul class="list-inline text-center">
                                                                <li class="list-inline-item">
                                                                    <img src="https://24hstore.vn/images/products_promotion/original/icon-thu-cu_1667900775.svg" />
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <img src="https://24hstore.vn/images/products_promotion/original/icon-vib-logo_1670400516.svg" />
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <img src="https://24hstore.vn/images/products_promotion/original/icon-kredivo_1670394894.svg" />
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <img src="https://24hstore.vn/images/products_promotion/original/icon-apple-pay_1708569696.svg" />
                                                                </li>
                                                            </ul>
                                                            <small class="m-lg-4">Sản phẩm</small>
                                                        </div>

                                                    </div>



                                                    <!--<div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="-->@*@item.Id*@<!--">Thêm vào giỏ hàng</a></div>-->
                                                </div>

                                            }


                                        }




                                    }
                                }


                            </div>

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_bottom clearfix">
                                <ul class="product_sorting">
                                    <li>
                                        <span>Hiện:</span>
                                        <span class="num_sorting_text">04</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>01</span></li>
                                            <li class="num_sorting_btn"><span>02</span></li>
                                            <li class="num_sorting_btn"><span>03</span></li>
                                            <li class="num_sorting_btn"><span>04</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                @*<span class="showing_results">Showing 1–3 of 12 results</span>*@
                                @*<div class="pages d-flex flex-row align-itemss-center">
                                        <div class="page_current">
                                            <span>1</span>
                                            <ul class="page_selection">
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                            </ul>
                                        </div>
                                        <div class="page_total"><span>of</span> 3</div>
                                        <div id="next_page_1" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                    </div>*@

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
        },
    });
</script>





@section scripts{


    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var productImages = document.querySelectorAll(".product_image");
            productImages.forEach(function (productImage) {
                productImage.addEventListener("mouseover", function () {
                    var img = this.querySelector("img");
                    img.style.transform = "translateY(-10px)";
                });

                productImage.addEventListener("mouseout", function () {
                    var img = this.querySelector("img");
                    img.style.transform = "translateY(0)";
                });
            });
        });
    </script>
}