@model IEnumerable<WebSite_CuaHangDienThoai.Models.tb_ProductDetailImage>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .carousel-inner {
        width: 100%; /* Thiết lập chiều rộng */
        height: 100%; /* Thiết lập chiều cao */
        overflow: hidden; /* Ẩn phần nội dung vượt ra khỏi phần tử cha */
    }

    .carousel-item img {
        width: 100%; /* Thiết lập chiều rộng ảnh */
        height: auto; /* Chiều cao tự động điều chỉnh để duy trì tỷ lệ */
        object-fit: contain; /* Hiển thị ảnh mà không bị kéo căng hoặc biến dạng */
    }
</style>
@if (Model.Any() && Model != null)
{
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleControls" class="carousel slide d-flex justify-content-center align-items-center owl-carousel" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var item in Model.Select((value, index) => new { Value = value, Index = index }))
                        {
                            byte[] strImg = null;


                            if (@item.Value.Image != null)
                            {
                                strImg = @item.Value.Image;
                            }

                            string imgSrc = "";
                            if (strImg != null && strImg.Length > 0)
                            {
                                string base64String = Convert.ToBase64String(strImg);
                                imgSrc = $"data:image;base64,{base64String}";
                            }


                            <div class="carousel-item @(item.Index == 0 ? "active" : "")">
                            <img src="@imgSrc" class="d-block mx-auto" style="width: 80%; height: 80%; object-fit: contain;" alt="@item.Value.tb_ProductDetail.tb_Products.Title">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <a href="#">
                    Xem tất cả hình
                </a>
                <div class="Soluong"> </div>
            </div>
        </div>
    </div>






    <!--<div class="g-4 my-5 mx-auto" style="width: 100%; height: 100%;">
        <div class="owl-carousel owl-theme">
            foreach (var item in Model-->@*.Select((value, index) => new { Value = value, Index = index })*@
            <!--)
                    {
                        <div class="item">
                            <img src="item.Image" class="d-block mx-auto" style="width: 80%; height: 80%" alt="...">
                        </div>
                    }
                </div>

            </div>-->
        }
        else
        {
            <p class="text-danger">Lỗi tải hình ảnh</p>
        }


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/Scripts/owl_carousel/owl.carousel.js"></script>



<script>
    //$(document).ready(function () {
    //    var owl = $(".carousel-inner");
    //    owl.owlCarousel({
    //        loop: false,
    //        margin: 10,
    //        items: 1, // Chỉ hiển thị một ảnh mỗi lần
    //        nav: true,
    //        dots: false,
    //        mouseDrag: true,
    //        touchDrag: true,
    //        onChanged: updateCounter
    //    });

    //    function updateCounter(event) {
    //        // Lấy chỉ số của ảnh hiện tại (base 0)
    //        var currentIndex = event.item.index;
    //        // Lấy tổng số ảnh
    //        var totalItems = event.item.count;
    //        // Cập nhật số thứ tự của ảnh hiện tại
    //        $(".Soluong").text("(" + (currentIndex + 1) + "/" + totalItems + ")");
    //    }

    //    // Thêm sự kiện click cho nút điều hướng trước
    //    $(".carousel-control-prev").click(function () {
    //        owl.trigger('prev.owl.carousel');
    //    });

    //    // Thêm sự kiện click cho nút điều hướng tiếp theo
    //    $(".carousel-control-next").click(function () {
    //        owl.trigger('next.owl.carousel');
    //    });
    //});



    //$(document).ready(function () {
    //    $('#carouselExampleControls').carousel();

    //    $('.carousel-inner').on('mousedown', function (event) {
    //        isDragging = true;
    //        startPosition = event.clientX;
    //    });

    //    $(document).on('mousemove', function (event) {
    //        if (isDragging) {
    //            var currentPosition = event.clientX;
    //            if (currentPosition < startPosition) {
    //                $('#carouselExampleControls').carousel('next'); // Chuyển đến slide tiếp theo
    //            } else if (currentPosition > startPosition) {
    //                $('#carouselExampleControls').carousel('prev'); // Chuyển đến slide trước đó
    //            }
    //            isDragging = false;
    //        }
    //    });

    //    $(document).on('mouseup', function () {
    //        isDragging = false;
    //    });
    //});

    //$(document).ready(function () {
    //    $(".owl-carousel").owlCarousel({
    //        loop: false, // Không lặp lại sau khi cuộn hết
    //        margin: 10, // Khoảng cách giữa các mục

    //        items: 1 // Chỉ hiển thị một mục mỗi lần
    //    });
    //});

</script>
