﻿@model IEnumerable<WebSite_CuaHangDienThoai.Models.tb_Products>



<style>
    .product_image:hover img {
        transform: translateY(-10px);
        transition: transform 0.3s ease;
    }
    /*.product-item {
        float: left;
        clear: both;*/ /* This ensures that each product item starts on a new line */
    /*}*/

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img {
        display: block;
       
        object-fit: cover;
        display: flex;
        justify-content: center; /* Căn ngang ảnh ở giữa */
        align-items: center;
       
        margin: auto;
    }
    .product-item {
        border: none;
        margin: 2px;
        background: #323232;
        border: none;
        margin-top: 20px;
        padding: 10px; /* Thêm padding để đảm bảo có không gian xung quanh nội dung */
        box-sizing: border-box; /* Đảm bảo padding và border được tính trong wi*/
    }
    .product_image {
        display: flex;
        justify-content: center; /* Căn giữa ngang */
        align-items: center; /* Căn giữa dọc */
        width: 100%; /* Đảm bảo container mở rộng chiều ngang */
        height: auto; /* Cho phép container tự điều chỉnh theo chiều cao nội dung */
    }

</style>


@if (ViewBag.txt == null)
{
    foreach (var item in Model)
    {
        var strImg = "";
        var img = item.tb_ProductImage.FirstOrDefault(x => x.IsDefault);
        var checkDetail = item.tb_ProductDetail.FirstOrDefault(x => x.ProductsId == item.ProductsId);
        if (img != null)
        {
            strImg = img.Image;

           <div class="product-item rounded-4 @item.tb_ProductCategory.Alias " style="margin:2px; background: #323232; border: none; margin-top: 20px">
               <div class="  discount  w-100 align-items-center" @*style=" margin-top: -20px"*@>
                   @*<div class="product_image pt-3 d-flex justify-content-center  ">
            <img class="img h-50 w-50" src="@strImg" alt="@item.Title" style="width: 30%; height: 30%; " >
        </div>*@

                   <div class="product_image  d-flex justify-content-center">
                       <img src="@strImg" alt="@item.Title" class="w-75 h-75">
                   </div>
                   <div class="favorite favorite_left"></div>

                   <div class="product_info">
                       <h6 class="product_name"><a href="single.html" style="color:white">@item.Title</a></h6>
                       @*<div class="product_price">$520.00<span>$590.00</span></div>*@

                       @Html.Action("Partail_ProductDetailById", "ProductDetail", new { id = item.ProductsId })


                       @*Hiển thị giá tiền theo cấu hình*@
                       <div class="loadPrice" id="loadPrice_@item.ProductsId" data-id="@item.ProductsId"></div>

                   </div>
               </div>
              
           </div>

        }




    }
}
else
{
    <p class="text-danger">@ViewBag.txt</p>
}       