@model WebSite_CuaHangDienThoai.Models.MenuLeftViewModel


@if (Model != null && Model.AllCategories.Any())
{
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column sidebar_categories" style="margin-left:-10px" data-widget="treeview" role="menu" data-accordion="false">
            @foreach (var item in Model.AllCategories)
            {
                if (ViewBag.CateId == item.ProductCategoryId)
                {
                    <li class="nav-item ">

                        <a href="#" class="nav-link text-danger" onclick="toggleSubmenu(this)">
                            <span class="angle-icon"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                            @item.Title
                            <span class="arrow-icon " style="padding-left:20%"><i class="right fas fa-angle-left "></i></span>
                        </a>

                        @Html.Action("Partial_GetUniqueCompanyTitlesForCategory", "Product", new { categoryId = item.ProductCategoryId, alias = item.Alias, categoryTitle = item.Title })

                    </li>
                }
                else
                {
                    <li class="nav-item" style="margin-top:-30px; ">
                        <a href="#" class="nav-link text-white" onclick="toggleSubmenu(this)">
                            @item.Title
                            <span class="arrow-icon " style="padding-left:2%"><i class="right fas fa-angle-left "></i></span>
                        </a>

                        @Html.Action("Partial_GetUniqueCompanyTitlesForCategory", "Product", new { categoryId = item.ProductCategoryId, alias = item.Alias, categoryTitle = item.Title })

                    </li>




                }
            }
            @if (Model.Accessories != null)
            {
                foreach (var product in Model.Accessories)
                {
                    <li>
                        <h3>@product.Title</h3>

                    </li>
                }
            }


        </ul>
    </nav>




}
else
{ <p class="text-danger">Không có bảng ghi loại sản phẩm</p>}
<script>
    function toggleSubmenu(element) {
        // Lấy phần tử span chứa icon
        var iconSpan = element.querySelector('.arrow-icon i');

        // Kiểm tra trạng thái hiện tại của icon
        if (iconSpan.classList.contains('fa-angle-left')) {
            // Nếu là mở, thì đổi icon thành mũi tên xuống
            iconSpan.classList.remove('fa-angle-left');
            iconSpan.classList.add('fa-angle-down');
        } else {
            // Nếu là đóng, thì đổi icon thành mũi tên sang phải
            iconSpan.classList.remove('fa-angle-down');
            iconSpan.classList.add('fa-angle-left');
        }
    }

    $(document).ready(function () {
        $('.toggle-dropdown').click(function () {
            $(this).next('.dropdown-menu').slideToggle();
        });
    });
    $(document).ready(function () {
        $('.toggle-menu').click(function () {
            var icon = $(this).find('.menu-icon');
            if ($(this).next('.menu-submenu').is(":visible")) {
                icon.removeClass('fa-angle-down').addClass('fa-angle-left');
            } else {
                icon.removeClass('fa-angle-left').addClass('fa-angle-down');
            }
            $(this).next('.menu-submenu').slideToggle();
        });
    });
</script>


@*jQuery*@
<script src="~/Content/clients/plugins/jquery/jquery.min.js"></script>
@*Bootstrap 4*@
<script src="~/Content/clients/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
@*Select2*@
<script src="~/Content/clients/plugins/select2/js/select2.full.min.js"></script>
@*Bootstrap4 Duallistbox*@
<script src="~/Content/clients/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
@*InputMask*@
<script src="~/Content/clients/plugins/moment/moment.min.js"></script>
<script src="~/Content/clients/plugins/inputmask/jquery.inputmask.min.js"></script>
@*date-range-picker*@
<script src="~/Content/clients/plugins/daterangepicker/daterangepicker.js"></script>
@*bootstrap color picker*@
<script src="~/Content/clients/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
@*Tempusdominus Bootstrap 4*@
<script src="~/Content/clients/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
@*Bootstrap Switch*@
<script src="~/Content/clients/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
@*BS-Stepper*@
<script src="~/Content/clients/plugins/bs-stepper/js/bs-stepper.min.js"></script>
@*dropzonejs*@
<script src="~/Content/clients/plugins/dropzone/min/dropzone.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@*AdminLTE App*@
<script src="~/Content/clients/dist/js/adminlte.min.js"></script>

<!--<-->@*script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>*@





<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>