@model IEnumerable<WebSite_CuaHangDienThoai.Models.tb_ProductDetail>


<style>

    #product {
        position: relative;
    }

        #product img {
        }

        #product #imgProducts {
            transition: transform 0.3s ease;
        }

        #product .details {
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.8);
            padding: 10px;
            box-sizing: border-box;
            transition: transform 0.3s ease;
        }

        #product:hover #imgProducts {
            transform: translateY(-20px);
        }

        #product:hover h5 {
            color: red;
        }
</style>


@if (ViewBag.txt != null)
{
    <div class="product_slider_container  " style="border: none; height:100%">

        @if (Model.Any() && Model != null)
        {

            <div class="owl-carousel owl-theme product_slider" style="border:none;">
                @foreach (var items in Model)
                {


                    var DungLuong = "";
                    if (items.DungLuong > 999)
                    {
                        DungLuong = "1Tb";
                    }
                    else if (items.DungLuong > 1999)
                    {
                        DungLuong = "2 Tb";
                    }
                    else
                    {
                        DungLuong = items.DungLuong + "Gb";
                    }
                    @functions {

                        public decimal CalculateDiscountPercentage(decimal originalPrice, decimal salePrice)
                        {
                            if (originalPrice == 0 || salePrice >= originalPrice)
                            {
                                return 0; // Trả về 0 nếu giá gốc bằng 0 hoặc giá bán lớn hơn hoặc bằng giá gốc
                            }

                            decimal discount = 1 - (salePrice / originalPrice);
                            return discount * 100;
                        }
                    }



                    var strImg = "";
                    var CheckImage = items.tb_ProductDetailImage.FirstOrDefault(x => x.IsDefault);
                    if (CheckImage != null)
                    {
                        strImg = CheckImage.Image;
                    }
                    if (items.tb_Products.IsActive == true && items.tb_Products.IsHome == true && items.tb_Products.ProductCategoryId == 2)
                    {


                        <div class="owl-item  rounded " style="background: #323232; width: auto; height: 450px; display: flex; flex-direction: column; overflow: hidden; margin-left: 10px; padding: 0;">

                            <div class=" pb-5 ">
                                <br />
                                <br />
                                <div class="product_image" style=" background-image: url('~/images/banner-for-product.png')">
                                    <img data-id="@items.ProductsId" src="@strImg" id="imgProducts" style="width: 250px; height: 250px; ">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                    @if (items.PriceSale > 0)
                                    {
                                        <div>
                                            @{
                                                decimal originalPrice = Convert.ToDecimal(items.Price);
                                                decimal salePrice = Convert.ToDecimal(items.PriceSale);
                                                decimal discountPercentage = CalculateDiscountPercentage(originalPrice, salePrice);
                                            }
                                            @if (discountPercentage > 0)
                                            {
                                                <span> -@discountPercentage.ToString("0")% </span>
                                            }

                                        </div>
                                    }
                                </div>
                                <div class="product_info">
                               


                                    <a class="d-inline-block text-truncate" href="/Product/Details?id=@items.ProductsId&ProductDetailId=@items.ProductDetailId">
                                        <h5 style="color:white;padding-top:10px;">@items.tb_Products.Title @items.Title @DungLuong</h5>
                                    </a>
                                    @if (items.PriceSale > 0)
                                    {
                                        <div>
                                            <div class="product_price">  @WebSite_CuaHangDienThoai.Common.Common.FormatNumber(items.PriceSale)đ<span>  @WebSite_CuaHangDienThoai.Common.Common.FormatNumber(items.Price)đ</span></div>
                                        </div>
                                    }
                                    else
                                    {
                                        <span class="product_price" style="padding-left:5px;color:white">
                                            @WebSite_CuaHangDienThoai.Common.Common.FormatNumber(items.Price)đ
                                        </span>
                                    }
                                </div>
                                <div style="">
                                    <ul class="list-inline  text-center">
                                        <li class="list-inline-item">
                                            <img src="	https://24hstore.vn/images/products_promotion/original/icon-thu-cu_1667900775.svg " />
                                        </li>
                                        <li class="list-inline-item"><img src="	https://24hstore.vn/images/products_promotion/original/icon-vib-logo_1670400516.svg " /></li>
                                        <li class="list-inline-item"><img src="		https://24hstore.vn/images/products_promotion/original/icon-kredivo_1670394894.svg " /></li>
                                        <li class="list-inline-item"><img src="			https://24hstore.vn/images/products_promotion/original/icon-apple-pay_1708569696.svg " /></li>
                                    </ul>
                                    <small class="m-lg-4">Sản phẩm</small>
                                </div>
                            </div>
                        </div>

                        @*<div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>*@
                    }

                }
            </div>
            <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>

        }
        else
        {
            <p>@ViewBag.txt</p>
        }

    </div>


}
else
{
    <p>Không có bảng ghi nào</p>
}




