@model IEnumerable<WebSite_CuaHangDienThoai.Models.tb_Products>


<style>

    #product {
        position: relative;
    }

        #product img {
        }

        #product #imgProducts {
            transition: transform 0.3s ease;
        }

        #product .details {
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.8);
            padding: 10px;
            box-sizing: border-box;
            transition: transform 0.3s ease;
        }

        #product:hover #imgProducts {
            transform: translateY(-20px);
        }

        #product:hover h5 {
            color: red;
        }
</style>


@if (ViewBag.txt != null)
{
    <div class="product_slider_container  " style="border: none; height:100%">

        @if (Model.Any() && Model != null)
        {

            <div class="owl-carousel owl-theme product_slider" style="border:none;">
                @foreach (var items in Model)
                {
                    var strImg = "";
                    var CheckImage = items.tb_ProductImage.FirstOrDefault(x => x.IsDefault);
                    if (CheckImage != null)
                    {
                        strImg = CheckImage.Image;
                    }
                    if (items.IsActive == true && items.IsHome == true && items.ProductCategoryId == 2)
                    {


                        <div class="owl-item  rounded " style="background: #323232; width: auto; height: 450px; display: flex; flex-direction: column; overflow: hidden; margin-left: 10px; padding: 0;">

                            <div class=" pb-5 ">
                                <br />
                                <br />
                                <div class="product_image" style=" background-image: url('~/images/banner-for-product.png')">
                                    <img data-id="@items.ProductsId" src="@strImg" id="imgProducts" style="width: 250px; height: 250px; ">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                <div class="product_info">
                                    @*<h6 class="product_name"><a href="single.html">@items.Title</a></h6>
                                        <div class="product_price">$520.00<span>$590.00</span></div>*@
                                    <a class="d-inline-block text-truncate" href="/Product/Details/@items.ProductsId">
                                        <h5 style="color:white"> @items.Title</h5>
                                    </a>
                                    <div class="product_price">$520.00<span>$590.00</span></div>


                                </div>
                                <div style="">
                                    <ul class="list-inline  text-center">
                                        <li class="list-inline-item">
                                            <img src="	https://24hstore.vn/images/products_promotion/original/icon-thu-cu_1667900775.svg " />
                                        </li>
                                        <li class="list-inline-item"><img src="	https://24hstore.vn/images/products_promotion/original/icon-vib-logo_1670400516.svg " /></li>
                                        <li class="list-inline-item"><img src="		https://24hstore.vn/images/products_promotion/original/icon-kredivo_1670394894.svg " /></li>
                                        <li class="list-inline-item"><img src="			https://24hstore.vn/images/products_promotion/original/icon-apple-pay_1708569696.svg " /></li>
                                    </ul>
                                    <small class="m-lg-4">Sản phẩm</small>
                                </div>
                            </div>
                        </div>

                        @*<div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>*@






                    }

                }
            </div>


        }
        else
        {
            <p>@ViewBag.txt</p>
        }

    </div>


}
else
{
    <p>Không có bảng ghi nào</p>
}




