@model IEnumerable<WebSite_CuaHangDienThoai.Models.tb_CartItem>

@*<div class="card border shadow-0">
    <div class="m-4">
        <h4 class="card-title mb-4">Your shopping cart</h4>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                var Capacity = "";
                string[] dungLuongOptions = new string[] { "1Tb", "2 Tb" };

                int[] nguongDungLuong = new int[] { 999, 1999 };

                int index = Array.FindIndex(nguongDungLuong, capacity => item.tb_ProductDetail.Capacity > capacity);

                Capacity = index != -1 ? dungLuongOptions[index] : item.tb_ProductDetail.Capacity + " Gb";



                var i = 0;



                byte[] strImg = null;
                var CheckImage = item.tb_ProductDetail.tb_ProductDetailImage.SingleOrDefault(x => x.IsDefault == true);

                if (CheckImage != null)
                {
                    strImg = CheckImage.Image;
                }

                string imgSrc = "";
                if (strImg != null && strImg.Length > 0)
                {
                    string base64String = Convert.ToBase64String(strImg);
                    imgSrc = $"data:image;base64,{base64String}";
                }
                <div class="row gy-3 mb-4">
                  
                    <div class="col-lg-5">
                        <input type="checkbox" class="cbkItem" data-id="@item.ProductDetailId" />
                        <div class="me-lg-5">
                            <div class="d-flex">
                                <img src="@imgSrc" class="border rounded me-3" style="width: 100px; height: 100px;" />
                                <div class="">
                                    <a href="#" class="nav-link"> @item.tb_ProductDetail.tb_Products.Title </a>
                                    <p class="text-muted">Dung lượng :@Capacity , Màu : @item.tb_ProductDetail.Color</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                        <div class="">
                            <form class="form-inline">
                                <input type="number" class="form-control Quantity" id="@item.ProductDetailId" style="width:80px" value="@item.Quantity" />

                            </form>
                        </div>
                        <div class="" style="margin-left:5px">

                            @if (item.tb_ProductDetail.PriceSale > 0)
                            {
                                <span class="h6"><label class="text-danger">Giám giảm sốc : </label> @WebSite_CuaHangDienThoai.Common.Common.FormatNumber(item.tb_ProductDetail.PriceSale) vnđ</span> <br />
                                <small class="text-muted text-nowrap">  @WebSite_CuaHangDienThoai.Common.Common.FormatNumber(item.tb_ProductDetail.Price) </small>
                            }
                            else
                            {
                                <span class="h6">@WebSite_CuaHangDienThoai.Common.Common.FormatNumber(item.tb_ProductDetail.Price) vnđ</span> <br />
                            }



                        </div>
                    </div>
                    <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                        <div class="float-md-end">
                            <a href="#!" class="btn btn-light border px-2 icon-hover-primary"><i class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                            <a href="#" class="btn btn-light border text-danger icon-hover-danger"> Remove</a>
                        </div>
                    </div>
                </div>
            }



        }


    </div>

    <div class="border-top pt-4 mx-4 mb-4">
        <p><i class="fas fa-truck text-muted fa-lg"></i> Vận chuyển từ chỉ 24h trong nội thành </p>
        <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip
        </p>
    </div>
</div>*@








<div class="container bg-white">
    <div class="col-md-12 col-sm-12 content">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info panel-shadow">
                    @if (Model != null && Model.Any())
                    {

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="SelectAll" /></th>
                                           
                                         
                                            <th>Thông tin sản phẩm</th>
                                            @*<th>Loại sản phẩm</th>
                                            <th>Màu</th>
                                            <th>Số lượng</th>
                                            <th>Giá</th>
                                            <th></th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            var Capacity = "";
                                            string[] dungLuongOptions = new string[] { "1Tb", "2 Tb" };

                                            int[] nguongDungLuong = new int[] { 999, 1999 };

                                            int index = Array.FindIndex(nguongDungLuong, capacity => item.tb_ProductDetail.Capacity > capacity);

                                            Capacity = index != -1 ? dungLuongOptions[index] : item.tb_ProductDetail.Capacity + " Gb";



                                          



                                            byte[] strImg = null;
                                            var CheckImage = item.tb_ProductDetail.tb_ProductDetailImage.SingleOrDefault(x => x.IsDefault == true);

                                            if (CheckImage != null)
                                            {
                                                strImg = CheckImage.Image;
                                            }

                                            string imgSrc = "";
                                            if (strImg != null && strImg.Length > 0)
                                            {
                                                string base64String = Convert.ToBase64String(strImg);
                                                imgSrc = $"data:image;base64,{base64String}";
                                            }



                                            //var tongTien += item.PriceTotal;
                                            <tr id="trow_@item.ProductDetailId">
                                                @if (imgSrc != null)
                                                {

                                                }
                                                <td><input type="checkbox" class="cbkItem" data-id="@item.ProductDetailId" /></td>
                                              
                                               
                                                <td>
                                                    <div class="row gy-3 mb-4">
                                                        <div class="col-lg-5">
                                                          
                                                            <div class="me-lg-5">
                                                                <div class="d-flex">
                                                                    <img src="@imgSrc" class="border rounded me-3" style="width: 100px; height: 100px;" />
                                                                    <div class="">
                                                                        <h5>
                                                                            <a href="#" class="nav-link"> @item.tb_ProductDetail.tb_Products.Title </a>
                                                                        </h5>
                                                                        
                                                                        <p class="text-muted">Dung lượng :@Capacity , Màu : @item.tb_ProductDetail.Color</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-sm-5 col-5 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                                                            <div class="">
                                                                <form class="form-inline">
                                                                    <input type="number" class="form-control Quantity" id="@item.ProductDetailId" style="width:80px" value="@item.Quantity" />

                                                                </form>
                                                            </div>
                                                            <div class="" style="margin-left:5px">

                                                                @if (item.tb_ProductDetail.PriceSale > 0)
                                                                {
                                                                    <span class="h6"><label class="text-danger">Giám giảm sốc : </label> @WebSite_CuaHangDienThoai.Common.Common.FormatNumber(item.tb_ProductDetail.PriceSale) đ</span> <br />
                                                                    <small class="text-muted text-nowrap">  @WebSite_CuaHangDienThoai.Common.Common.FormatNumber(item.tb_ProductDetail.Price) đ </small>
                                                                }
                                                                else
                                                                {
                                                                    <span class="h6">@WebSite_CuaHangDienThoai.Common.Common.FormatNumber(item.tb_ProductDetail.Price) vnđ</span> <br />
                                                                }



                                                            </div>
                                                        </div>
                                                        <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                                                            <div class="float-md-end">
                                                                @*<a href="#" data-id="@item.ProductDetailId" class="btn btn-light border px-2 icon-hover-primary btnDelete"><i class="fas fa-heart fa-lg px-1 text-secondary"></i></a>*@
                                                      
                                                                <a href="#"  data-id="@item.ProductDetailId" class="btn btn-light border text-danger icon-hover-danger btnDelete"> Xóa</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                @*<td>@WSite_ShowRoom_CtyThoiTrang.Common.Common.FormatNumber(item.) vnđ</td>*@
                                            
                                            </tr>
                                           

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {

                        <img src="//theme.hstatic.net/200000420363/1001162486/14/empty_cart.png?v=240" alt="Không có sản phẩm nào trong giỏ hàng của bạn">


                        <span>Bạn chưa có sản phẩm nào. Vui long quay lại trang <a href="/home/index">sản phẩm</a> để mua hàng.</span>

                    }


                </div>

            </div>
        </div>
    </div>
</div>



