@model IEnumerable<WebSite_CuaHangDienThoai.Models.tb_Message>
@{
    ViewBag.Title = "Quản lý tin nhắn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/Addmin/Mess.css" rel="stylesheet" />

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/he-thong-LTD" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Mess/index" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý tin nhắn</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/Mess/index">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class=" p-0">



        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-lg-5 col-xl-3 border-right">
                    @*@Html.Action("Partail_AllMess", "Mess")*@

                    @if (Model != null)
                    {
                        <div class="px-4 d-none d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control my-3" placeholder="Tìm kiếm...">
                                </div>
                            </div>
                        </div>
                        <div id="loadMess">
                            @foreach (var item in Model)
                            {
                                var messCustomer = item.tb_CustomerMessageDetail.FirstOrDefault(x => x.MessageId == item.MessageId);
                                if (messCustomer != null)
                                {
                                    <a href="#" class="list-group-item list-group-item-action border-0 show-messages" data-detailid="@item.MessageId">
                                        <div class="badge bg-success float-right">5</div>
                                        <div class="d-flex align-items-start">
                                            @if (messCustomer.tb_Customer.Image != null)
                                            {
                                                <img src="data:image;base64,@Convert.ToBase64String(messCustomer.tb_Customer.Image)" alt="@messCustomer.tb_Customer.CustomerName" class="rounded-circle mr-1" width="40" height="40">
                                            }
                                            else
                                            {
                                                <img src="~/images/Logo/LogoWebpng.png" class="rounded-circle mr-1" alt="@messCustomer.tb_Customer.CustomerName" width="40" height="40">
                                            }
                                            <div class="flex-grow-1 ml-3">
                                                @messCustomer.tb_Customer.CustomerName
                                            </div>
                                        </div>
                                        <hr />
                                    </a>
                                }
                            }

                        </div>




                    }
                    else
                    {
                        <p class="text-danger">Không tồn tại bảng ghi !!!</p>
                    }


                    <hr class="d-block d-lg-none mt-1 mb-0">
                </div>
                <div class="col-12 col-lg-7 col-xl-9">
                    <div >
                        <p id="chatMessages" >Loading...</p>
                    </div>
                   

                          

                      
                    
                    @*<div class="flex-grow-0 py-3 px-4 border-top">
                        <div class="input-group">

                            <textarea class="form-control" id="ContentMess" placeholder="Nội dung tin nhắn"></textarea>
                            <button class="btn btn-primary  btnsend"id="sendMessageBtn" data-MessId="@item">Gửi</button>
                        </div>
                    </div>*@

                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        $(document).ready(function () {
            // Function to load messages for a specific detailId
            function loadMessage(detailId) {
                $.ajax({
                    url: '/admin/Mess/GetChatMessages',
                    type: 'GET',
                    data: { messageId: detailId },
                    success: function (response) {
                        $('#chatMessages').html(response);
                    },
                    error: function () {
                        alert('Có lỗi xảy ra khi tải tin nhắn.');
                    }
                });
            }

            function sendMessage() {
                var message = $('#ContentMess').val(); 
                var messageId = $('#sendMessageBtn').data('messid'); 

                $.ajax({
                    url: '/admin/Mess/SendMessage',
                    type: 'POST',
                    data: { MessageId: messageId, Content: message }, 
                    success: function (response) {
                        $('#ContentMess').val(''); 
                        scrollToBottom();
                    },
                    error: function () {
                        alert('Có lỗi xảy ra khi gửi tin nhắn.');
                    }
                });
            }
            function scrollToBottom() {
                var chatMessages = document.getElementById('chatMessagesContent');
                chatMessages.scrollTop = chatMessages.scrollHeight;
            }
           
            $(document).on('click', '.show-messages', function (e) {
                e.preventDefault(); 
                var detailId = $(this).data('detailid'); 
                loadMessage(detailId); 
            });

            
            $(document).on('click', '#sendMessageBtn', function () {
                var message = $(this).closest('.input-group').find('textarea').val(); // Lấy nội dung tin nhắn từ textarea trong cùng
                var messageId = $(this).data('messid'); // Lấy MessageId từ data attribute của button

                sendMessage(messageId, message); // Gọi hàm sendMessage và truyền các tham số cần thiết
            });
        });
    </script>
}
