
@model PagedList.PagedList<WebSite_CuaHangDienThoai.Models.tb_Staff>
@using PagedList.Mvc;
<table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 60px; height: 60px;"><input type="checkbox" id="SelectAll" /> STT</th>
            <th class="text-center" style="width: 60px; height: 60px;"></th>
            <th class="text-center">MSNV</th>

            <th class="text-center">Tên nhân viên</th>
            <th class="text-center">Chức vụ</th>
            <th><span>Khóa</span></th>
            <th style="width:250px;"> <p style="display:none">Thuan</p></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var message in Model)
            {
                <div class="@(message.CustomerId.HasValue ? "chat-message-right" : "chat-message-left") pb-4">
                    <div>
                        @if (message.CustomerId.HasValue)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(message.CustomerImage)" class="rounded-circle mr-1" alt="@message.CustomerName" width="40" height="40">
                        }
                        else
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(message.StaffImage)" class="rounded-circle mr-1" alt="@message.StaffName" width="40" height="40">
                        }
                        <div class="text-muted small text-nowrap mt-2">@message.Timestamp.ToString("h:mm tt")</div>
                    </div>
                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 @(message.CustomerId.HasValue ? "mr-3" : "ml-3")">
                        <div class="font-weight-bold mb-1">
                            @if (message.CustomerId.HasValue)
                            {
                                <text>You</text>
                            }
                            else
                            {
                                <text>Staff</text>
                            }
                        </div>
                        @message.MessageContent
                    </div>
                </div>
            }

        }
        else
        {
            <tr>
                <td colspan="4">Không có bản ghi nào!!!</td>
            </tr>
        }
    </tbody>
</table>


<hr />
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" href="#" data-page="1" aria-label="First">
                        <span aria-hidden="true">Đầu</span>
                    </a>
                </li>
                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" href="#" data-page="@(Model.PageNumber - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = Model.PageNumber; i <= Model.PageNumber + 4 && i <= Model.PageCount; i++)
                {
                    <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                        <a class="page-link" href="#" data-page="@i">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                    <a class="page-link" href="#" data-page="@(Model.PageNumber + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                    <a class="page-link" href="#" data-page="@Model.PageCount" aria-label="Last">
                        <span aria-hidden="true">Cuối</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>